* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* height: auto;
    width: auto; */
}

body {
   height: 100vh;
   /* width: 100vw; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 3.8fr;
    grid-auto-flow: column;
    /* display: flex;
    justify-content: ; */
    font-family: 'Roboto', sans-serif;
}

aside {
    /* border: 1px solid gray; */
    background-color: rgb(25,146,212);
    color: white;
    /* padding-top: 7.6rem; */
    /* width: 23.7816vw; */
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 1.2rem;
}

.heading h1 {
    margin-left: 1.5rem;
}

.white-icon {
    fill: white;
    background: transparent;
    /* margin: 0.2rem; */
    width: 3rem;
}

.home {
    padding-top: 1.8rem;
}

aside article section {
   display: grid;
   grid-template-columns: 1fr 9fr;
  
   /* border: 1px solid gray; */
   margin: 1.5rem 1rem 0.6rem 2rem;
   align-items: center;
}

/* aside article section div {
    border: 1px solid gray;
} */

h4 {
    margin-left: 1rem;
    font-size: 1.4rem;
}
/* 
aside article section {
    display: flex;
    justify-content:center
} */

svg {
    max-width: 100%;
    /* width: 5rem; */
    fill: white;
    background: transparent;
    /* margin: 0.2rem; */  
}

.settings {
    padding-top: 3rem;
}

.hover:hover {
    transform: scale3d(1.03, 1.03, 1.08) translate3d(0.1rem, -0.25rem, 20rem);
    transition: transform 0.2s ease;
    cursor: pointer;
    color: rgb(226,232,240);
}



/* .white-icon {
    fill: white;
    background: transparent;
    margin: 0.2rem;
} */


main {
    /* border: 1px solid gray; */
    display: grid;
    grid-template-rows: 1fr 4.5fr;

}

header {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* nav {
    border: 1px solid gray;
} */

.nav-a,
.nav-b {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3rem;
    margin-top: 1.5rem;
}

.nav-a > div {
    display: flex;
    padding-bottom: 2rem;
    /* margin-top: 1rem; */
}

.nav-b > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -4rem;
}

.nav-b > div div img {
    max-width: 4rem;
}

.nav-b > div > div svg {
    
    fill: black;
}

.nav-b > div > div{
    width: 2rem;
}

.button-container {
    margin-left: -10rem;
}

button {
    width: 8rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.16),0 0 24px -16px rgba(0, 0, 0, 0.16);
    background-color: rgb(25,146,212);
}

button:hover {

    transform: scale3d(1.03, 1.03, 1.08) translate3d(0.1rem, -0.25rem, 20rem);
    transition: transform 0.2s ease;
}

/* .nav-a > div,
.nav-b > div {
    border: 1px solid gray;
} */


/* nav section {
    border: 1px solid gray;
} */

input {
    width: 40rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgb(226,232,240);
    border: none;
    padding-left: 1rem;
    margin-left: 1rem;
}

.icon {
    width: 1.5rem;
    padding-top: 0.2rem;
    /* background-color: orange; */
}

.icon svg {
    fill: black;
}

.profile {
    align-items: center;
}

.profile > div img {
    max-width: 80%;
}


/* input[type="text"] {
    color: red;
} */

.main-container {
    background-color: rgb(226,232,240);
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: repeat(3, 1fr);

    grid-auto-flow: column;
}

.text-area {
    /* border: 1px solid gray; */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5rem;
    grid-auto-flow: row;
}

.text-area article {
    /* border: 1px solid gray; */
    
    background-color: white;
    border-radius: 0.5rem;
   height: 14rem;
   width: 25rem;
  margin: 1rem 0.5rem 1rem 1rem;
}

.text-container {
    padding-top: 5rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

.text-container article {
    /* border: 1px solid gray; */
    background-color: white;
    height: 22rem;
    width: 18.2rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
}

.text-area article:hover {
    transform: scale3d(1.03, 1.03, 1.08) translate3d(0.1rem, -0.25rem, 20rem);
    transition: transform 0.8s ease;
    cursor: pointer;
    box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.16),0 0 24px -16px rgba(0, 0, 0, 0.16);
}
